#header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#header li{
    border: 1px solid black;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#header li{
    font-family: "Courier New",Courier,monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}