.StudentAddForm{
    padding-top: 10px;
    margin: 10px;
    width: 350px;
    background: rgba(29, 37, 49, 0.5);
}

.student-addform-element {
    margin: 10px;
}

.student-addform-label {
    margin: 5px;
    color: #84a2cf;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 12pt;
    font-weight: bold;
}

.student-addform-input {
    background: none;
    color: #84a2cf;
    width: 100px;
    margin: 0 5px;
    padding: 0 20px;
    border:none;
    border-bottom: 1px solid #84a2cf;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    box-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 10pt;
}

.student-addform-button {
    padding: 10px;
    background: rgba(236, 244, 255, 0);
    color: #84a2cf;
    border: none;
    text-decoration: underline;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 12pt;
}
