.student-main {
    width: 750px;
    background: rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

.student-nav {
    background: rgba(29, 37, 49, 0.5);
    height: 42px;
    width: 100%;
}

.student-nav-title {
    display: inline-block;
    margin: 8px 30px;
    color: #84a2cf;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 14pt;
    font-weight: bold;
    float: left;
}

.student-nav-element {
    display: inline-block;
    margin: 9px 18px;
    color: #84a2cf;
    text-decoration: none;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 12pt;
    float: right;
    border-bottom: 1px solid rgb(132, 162, 207);
    padding: 0 1px;
}

.student-grid {

}
